<nav class="navbar navbar-dark bg-dark">
  <div class="container-fluid">
    <!-- Navbar brand -->
    <a class="navbar-brand nav-link" target="_blank" href="https://mdbootstrap.com/docs/standard/">
      <strong>PARADE</strong>

    </a>


    <!--<button class="navbar-toggler" type="button" data-mdb-toggle="collapse" data-mdb-target="#navbarExample01"
        aria-controls="navbarExample01" aria-expanded="false" aria-label="Toggle navigation">
        <i class="fas fa-bars"></i>
      </button>-->


    <a href="http://localhost:4200" onclick="document.getElementById('id01').style.display='block'"
      class="w3-bar-item w3-button w3-padding" ng-if="!loggedin"><i
        class="fa fa-user fa-fw w3-margin-right"></i>LOGOUT</a>

  </div>
</nav>
<div class="content">
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <div class="search-result-box card-box">
          <div class="row">
            <div class="col-md-8 offset-md-2">
              <div class="pt-3 pb-4">
                <div class="input-group">
                  <form class="form-inline my-2 my-lg-0">
                    <input type="search" (ngModelChange)="searchResearchers(key.value)" #key="ngModel" ngModel
                      name="key" id="searchName" class="form-control mr-sm-2" placeholder="Search" required>
                    <p> &emsp;Add Filter&emsp;</p>
                    <p></p>
                    <p></p>
                    <mat-form-field class="input">
                      <!--this contains the list of tags-->

                      <mat-chip-list #taglist>
                        <!--set the properties for the tags-->

                        <mat-chip selected color="primary" *ngFor="let Tag of Tags" [selectable]="selectable"
                          [removable]="removable" (removed)="remove(Tag)">
                          {{Tag}}
                          <!--add icon with matChipRemove
                                       directive to remove any tag-->

                          <mat-icon matChipRemove *ngIf="removable">-
                          </mat-icon>
                        </mat-chip>
                        <input placeholder="Add Tags" [matChipInputFor]="taglist"
                          [matChipInputSeparatorKeyCodes]="separatorKeysCodes" (matChipInputTokenEnd)="add($event)" />
                      </mat-chip-list>
                    </mat-form-field>
                  </form>
                </div>
              </div>
            </div>
          </div>


          <!-- end row -->
          <!-- <ul class="nav nav-tabs tabs-bordered"> -->
          <!-- <li class="nav-item"><a href="#home" data-toggle="tab" aria-expanded="true" class="nav-link ">All
                Users <span class="badge badge-success ml-1">325</span></a></li>
            <li class="nav-item"><a href="#users" data-toggle="tab" aria-expanded="false" class="nav-link ">My Profile
                <span class="badge badge-danger ml-1"></span></a></li>
            <li class="nav-item"><a href="#users" data-toggle="tab" aria-expanded="false" class="nav-link ">My
                Connections <span class="badge badge-danger ml-1">89</span></a></li> -->
          <nav ngbNav #nav="ngbNav" class="nav-tabs">
            <ng-container ngbNavItem>
              <a ngbNavLink>My Profile</a>
              <ng-template ngbNavContent>
                <div class="container rounded bg-white mt-5 mb-5">
                  <form class="bg-white  rounded-5 shadow-5-strong p-5" #myprofile="ngForm" (ngSubmit)="Save()">
                    <div class="row">
                      <div class="col-md-3 border-right">
                        <div class="d-flex flex-column align-items-center text-center p-3 py-5"><img
                            class="rounded-circle mt-5" src="assets/images.png"><span
                            class="font-weight-bold">{{currentUserName}}</span><span
                            class="text-black-50">{{currentUserEmail}}</span><span> </span></div>
                      </div>
                      <div class="col-md-5 border-right">
                        <div class="p-3 py-5">
                          <div class="d-flex justify-content-between align-items-center mb-3">
                            <h4 class="text-right">Profile Settings</h4>
                          </div>
                          <div class="row mt-2">
                            <div class="col-md-8"><label class="labels">Name</label><input [(ngModel)]="researcher.name"
                                required #name="ngModel" type="text" class="form-control"
                                placeholder={{currentUserName}} name="firstName" [disabled]=myProfile></div>
                          </div>
                          <div class="row mt-3">
                            <div class="col-md-8"><label class="labels">PhoneNumber</label><input [disabled]=myProfile
                                [(ngModel)]="researcher.phone" required #phone="ngModel" type="text"
                                class="form-control" placeholder={{currentUserPhoneNumber}} name="phone"
                                [disabled]="true"></div>
                            <small password class="text-danger" *ngIf="phone.errors?.['pattern']">Phone is required
                              field</small>
                            <div class="row mt-4">
                              <div class="col-md-9"><label class="labels">Email ID</label><input [disabled]=true
                                  type="text" class="form-control" placeholder="{{currentUserEmail}}"
                                  value={{currentUserEmail}}></div>
                            </div>
                          </div>
                          <div class="mt-5 text-left"> <button type="button" class="btn btn-primary profile-button"
                              (click)="Edit()">edit</button></div>
                          <div class="mt-5 text-left"> <button type="submit"
                              class="btn btn-primary profile-button">save</button> <br>
                            <small class="text-danger">{{msg}}</small>
                          </div>
                        </div>
                        <div></div>
                        <script>
                          var myApp = angular.module('myApp', []);

                          myApp.controller('myController',
                            function ($scope) {

                              // THIS IS DEFAULT. IF YOU DO NOT DEFINE IT, IT REMAINS 'false'.
                              $scope.isDisabled = false;

                              $scope.save = function () {
                                console.log('Data Saved.');
                                $scope.isDisabled = true;
                              };
                            });
                        </script>
                      </div>
                      <div class="col-md-4">
                        <br class="p-3 py-5">
                        <div class="col-md-12"><label class="labels">Expertise</label><input
                            [(ngModel)]="researcher.expertise" required #expertise="ngModel" type="text"
                            class="form-control" placeholder="{{currentUserExpertise}}" name="expertise"
                            [disabled]=myProfile></div> <br>
                        <div class="col-md-12"><label class="labels">Looking For</label></div><br>
                        <div class="col-md-12"><input placeholder="Example: Data Mining" [matChipInputFor]="taglist"
                            [matChipInputSeparatorKeyCodes]="separatorKeysCodes" (matChipInputTokenEnd)="add($event)" />
                        </div>
                        <div *ngFor="let tag of Tags" class="col-md-12">
                          <div class="col-md-12"><label class="labels">{{tag}}</label></div><br>
                        </div><br><br>

                        <div class="col-md-12"><label class="labels">About me</label><input
                            [(ngModel)]="researcher.about" required #about="ngModel" type="text" class="form-control"
                            placeholder="{{currentUserAboutMe}}" name="about" [disabled]=myProfile>

                        </div>
                      </div>
                    </div>
                  </form>

                </div>

              </ng-template>
            </ng-container>
            <ng-container ngbNavItem>
              <a ngbNavLink>Find Connections</a>
              <ng-template ngbNavContent>
                <div class="row">
                  <div *ngFor="let researcher of researchers | paginate: { itemsPerPage: count, currentPage: p }"
                    class="col-md-12">
                    <!-- <div *ngFor="let tag of Tags" class="col-md-12"> -->

                    <div *ngIf="Tags.length ===0">
                      <div class="search-item">
                        <div class="media"><img class="d-flex mr-3 rounded-circle"
                            src="https://bootdey.com/img/Content/avatar/avatar1.png" alt="Generic placeholder image"
                            height="54">
                          <div class="media-body">
                            <h5 class="media-heading mt-0"><a [routerLink]="['/viewprofile', researcher.id]"
                                class="text-dark">{{researcher?.name}}</a></h5>
                            <p class="font-13"><b>Email:</b> <span><a href="#"
                                  class="text-muted">{{researcher?.email}}</a></span></p>
                            <p class="mb-0 font-13"><b>Expertise:</b>
                              <br><span class="text-muted">{{researcher?.expertise}}</span>
                            </p>
                            <div class="col-md-12 text-right">
                              <button type="button" class="btn btn-primary"
                                [routerLink]="['/viewprofile', researcher.id, 'Connect']">View Profile</button>
                            </div>
                          </div>
                        </div>

                        <!-- </div> -->
                      </div>
                    </div>

                    <!-- Angular 8 pagination -->
                    <!-- <mat-paginator [pageSizeOptions]="[5, 10, 15]" showFirstLastButtons></mat-paginator> -->
                    <div class="clearfix"></div>
                  </div>

                  <div *ngFor="let researcher of researchers | paginate: { itemsPerPage: count, currentPage: p }"
                    class="col-md-12">
                    <div *ngFor="let tag of Tags" class="col-md-12">
                      <div *ngIf="Tags.length !=0 && researcher.expertise.includes(tag)">
                        <div class="search-item">
                          <div class="media"><img class="d-flex mr-3 rounded-circle"
                              src="https://bootdey.com/img/Content/avatar/avatar1.png" alt="Generic placeholder image"
                              height="54">
                            <div class="media-body">
                              <h5 class="media-heading mt-0"><a href="#" class="text-dark">{{researcher?.name}}</a>
                              </h5>
                              <p class="font-13"><b>Email:</b> <span><a href="#"
                                    class="text-muted">{{researcher?.email}}</a></span></p>
                              <p class="mb-0 font-13"><b>Expertise:</b>
                                <br><span class="text-muted">{{researcher?.expertise}}</span>
                              </p>
                              <div class="col-md-12 text-right">
                                <button type="button" class="btn btn-primary">Pending</button>
                              </div>
                              <div class="col-md-12 text-right">
                                <button type="button" class="btn btn-primary">Accept</button>
                              </div>
                              <div class="col-md-12 text-right">
                                <button type="button" class="btn btn-primary">Reject</button>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                    <!-- Angular 8 pagination -->
                    <!-- <mat-paginator [pageSizeOptions]="[5, 10, 15]" showFirstLastButtons></mat-paginator> -->
                    <div class="clearfix"></div>

                  </div>
                  <div class="text-right">
                    <pagination-controls (pageChange)="p = $event"></pagination-controls>
                  </div>
                </div>

              </ng-template>
            </ng-container>

            <ng-container ngbNavItem>
              <a ngbNavLink>My Connections</a>
              <ng-template ngbNavContent>
                <div class="row">
                  <div *ngFor="let researcher of researchers" class="col-md-12">
                    <div *ngFor="let connection of connections" class="col-md-12">
                      <div *ngIf="researcher?.id == connection.receiverId && currentUserID == connection.senderId && 'Deleted' != connection.status">
                        <div class="search-item">
                          <div class="media"><img class="d-flex mr-3 rounded-circle"
                              src="https://bootdey.com/img/Content/avatar/avatar1.png" alt="Generic placeholder image"
                              height="54">
                            <div class="media-body">
                              <h5 class="media-heading mt-0"><a href="#" class="text-dark">{{researcher?.name}}</a></h5>
                              <p class="font-13"><b>Email:</b> <span><a href="#"
                                    class="text-muted">{{researcher?.email}}</a></span></p>
                              <p class="mb-0 font-13"><b>Expertise:</b>
                                <br><span class="text-muted">{{researcher?.expertise}}</span>
                              </p>
                              <div class="col-md-12 text-right">
                                <button type="button" class="btn btn-primary">{{connection.status}}</button>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                      <div *ngIf="currentUserID == connection.receiverId && researcher?.id ==connection.senderId && 'Deleted' != connection.status">
                        <div class="search-item">
                          <div class="media"><img class="d-flex mr-3 rounded-circle"
                              src="https://bootdey.com/img/Content/avatar/avatar1.png" alt="Generic placeholder image"
                              height="54">
                            <div class="media-body">
                              <h5 class="media-heading mt-0"><a href="#" class="text-dark">{{researcher?.name}}</a></h5>
                              <p class="font-13"><b>Email:</b> <span><a href="#"
                                    class="text-muted">{{researcher?.email}}</a></span></p>
                              <p class="mb-0 font-13"><b>Expertise:</b>
                                <br><span class="text-muted">{{researcher?.expertise}}</span>
                              </p>
                              <div *ngIf="'Disconnect' != connection.status">
                              <div class="col-md-12 text-right">
                                <button type="button" class="btn btn-primary"
                                  [routerLink]="['/viewprofile', researcher.id, 'Confirm']">Confirm</button>
                                <button type="button" class="btn btn-primary"
                                  [routerLink]="['/viewprofile', researcher.id, 'Delete']">Delete</button>
                              </div>
                              </div>
                              <div *ngIf="'Disconnect' == connection.status">
                                <div class="col-md-12 text-right">
                                  <button type="button" class="btn btn-primary"
                                    [routerLink]="['/viewprofile', researcher.id, 'Disconnect']">Disconnect</button>
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>

                      <div class="clearfix"></div>
                    </div>
                  </div>
                </div>
              </ng-template>
            </ng-container>
          </nav>
          <div [ngbNavOutlet]="nav" class="mt-2"></div>
