<div class="content">
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <div class="search-result-box card-box">
          <div class="row">
            <div class="col-md-8 offset-md-2">
              <div class="pt-3 pb-4">
                <div class="input-group">
                  <form class="form-inline my-2 my-lg-0">
                    <input type="search" (ngModelChange)="searchResearchers(key.value)" #key="ngModel" ngModel
                      name="key" id="searchName" class="form-control mr-sm-2" placeholder="Search" required>
                  </form>
                </div>
              </div>
            </div>
          </div>
          <!-- end row -->
          <!-- <ul class="nav nav-tabs tabs-bordered"> -->
          <!-- <li class="nav-item"><a href="#home" data-toggle="tab" aria-expanded="true" class="nav-link ">All
                Users <span class="badge badge-success ml-1">325</span></a></li>
            <li class="nav-item"><a href="#users" data-toggle="tab" aria-expanded="false" class="nav-link ">My Profile
                <span class="badge badge-danger ml-1"></span></a></li>
            <li class="nav-item"><a href="#users" data-toggle="tab" aria-expanded="false" class="nav-link ">My
                Connections <span class="badge badge-danger ml-1">89</span></a></li> -->
          <nav ngbNav #nav="ngbNav" class="nav-tabs">
            <ng-container ngbNavItem>
              <a ngbNavLink>All Users</a>
              <ng-template ngbNavContent>
                <div class="row">
                  <div *ngFor="let researcher of researchers" class="col-md-12">
                    <!-- <div *ngIf="researcher.id != getUserId()"> -->
                    <div class="search-item">
                      <div class="media"><img class="d-flex mr-3 rounded-circle"
                          src="https://bootdey.com/img/Content/avatar/avatar1.png" alt="Generic placeholder image"
                          height="54">
                        <div class="media-body">
                          <h5 class="media-heading mt-0"><a href="#" class="text-dark">{{researcher?.name}}</a></h5>
                          <p class="font-13"><b>Email:</b> <span><a href="#"
                                class="text-muted">{{researcher?.email}}</a></span></p>
                          <p class="mb-0 font-13"><b>Expertise:</b>
                            <br><span class="text-muted">{{researcher?.expertise}}</span>
                          </p>
                          <div class="col-md-12 text-right">
                            <button type="button" class="btn btn-primary">Connect</button>
                          </div>
                        </div>
                      </div>
                    </div>

                    
                    </div>
                    <!-- Angular 8 pagination -->
                    <!-- <mat-paginator [pageSizeOptions]="[5, 10, 15]" showFirstLastButtons></mat-paginator> -->
                    <div class="clearfix"></div>

                  <!-- </div> -->
                </div>
              </ng-template>
            </ng-container>
            <ng-container ngbNavItem>
              <a ngbNavLink>My Profile</a>
              <ng-template ngbNavContent>
                <div class="container rounded bg-white mt-5 mb-5">
                  <div class="row">
                    <div class="col-md-3 border-right">
                      <div class="d-flex flex-column align-items-center text-center p-3 py-5"><img
                          class="rounded-circle mt-5" src=""><span class="font-weight-bold">Amelly</span><span
                          class="text-black-50">amelly12@bbb.com</span><span> </span></div>
                    </div>
                    <div class="col-md-5 border-right">
                      <div class="p-3 py-5">
                        <div class="d-flex justify-content-between align-items-center mb-3">
                          <h4 class="text-right">Profile Settings</h4>
                        </div>
                        <div class="row mt-2">
                          <div class="col-md-6"><label class="labels">Name</label><input [disabled]="true" type="text"
                              class="form-control" placeholder="first name" value=""></div>

                        </div>
                        <div class="row mt-3">
                          <div class="col-md-12"><label class="labels">PhoneNumber</label><input [disabled]="true"
                              type="text" class="form-control" placeholder="enter phone number" value=""></div>
                          <div class="col-md-12"><label class="labels">Address</label><input [disabled]="true"
                              type="text" class="form-control" placeholder="enter address" value=""></div>
                          <div class="col-md-12"><label class="labels">Email ID</label><input [disabled]="true"
                              type="text" class="form-control" placeholder="enter email" value=""></div>
                          <div class="col-md-12"><label class="labels">Education</label><input [disabled]="true"
                              type="text" class="form-control" placeholder="education" value=""></div>
                        </div>
                        <div class="row mt-3">
                          <div class="col-md-6"><label class="labels">Country</label><input [disabled]="true"
                              type="text" class="form-control" placeholder="country" value=""></div>
                          <div class="col-md-6"><label class="labels">State/Region</label><input [disabled]="true"
                              type="text" class="form-control" value="" placeholder="state"></div>
                        </div>
                        <div class="mt-5 text-left"><button class="btn btn-primary profile-button" type="submit"
                            ng-disabled="isDisabled" ng-click="edit()">Edit Profile</button></div>
                        <div class="mt-5 text-left"><button class="btn btn-primary profile-button" type="submit"
                            ng-disabled="isDisabled" ng-click="save()">Save Profile</button></div>
                      </div>
                      <script>
                        var myApp = angular.module('myApp', []);

                        myApp.controller('myController',
                          function ($scope) {

                            // THIS IS DEFAULT. IF YOU DO NOT DEFINE IT, IT REMAINS 'false'.
                            $scope.isDisabled = false;

                            $scope.save = function () {
                              console.log('Data Saved.');
                              $scope.isDisabled = true;
                            };
                          });
                      </script>
                    </div>
                    <div class="col-md-4">
                      <div class="p-3 py-5">
                        <div class="col-md-12"><label class="labels">Expertise</label><input [disabled]="true"
                            type="text" class="form-control" placeholder="add expertise" value=""></div> <br>
                        <div class="col-md-12"><label class="labels">Looking For</label><input [disabled]="true"
                            type="text" class="form-control" placeholder="looking for" value=""></div>
                        <div class="form-group"><br>
                          <div class="col-md-12"><label class="labels">About me</label></div><br>
                          <div class="col-md-12">
                            <textarea [disabled]="true" class="form-control" rows="5" placeholder="About me"></textarea>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>

              </ng-template>
            </ng-container>
            <ng-container ngbNavItem>
              <a ngbNavLink>My Connections</a>
              <ng-template ngbNavContent>
                <div class="row">
                  <div *ngFor="let researcher of researchers" class="col-md-12">
                    <div class="search-item">
                      <div class="media"><img class="d-flex mr-3 rounded-circle"
                          src="https://bootdey.com/img/Content/avatar/avatar1.png" alt="Generic placeholder image"
                          height="54">
                        <div class="media-body">
                          <h5 class="media-heading mt-0"><a href="#" class="text-dark">{{researcher?.name}}</a></h5>
                          <p class="font-13"><b>Email:</b> <span><a href="#"
                                class="text-muted">{{researcher?.email}}</a></span></p>
                          <p class="mb-0 font-13"><b>Expertise:</b>
                            <br><span class="text-muted">{{researcher?.expertise}}</span>
                          </p>
                          <div class="col-md-12 text-right">
                            <button type="button" class="btn btn-primary">disconnect</button>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="clearfix"></div>
                  </div>
                </div>
              </ng-template>
            </ng-container>
          </nav>
          <div [ngbNavOutlet]="nav" class="mt-2"></div>
